/* Home.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
  }
  
  .container .home-btn {
    padding: 12px 24px;
    font-size: 25px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

  }
  
  .home-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }
  
  .home-btn:active {
    background-color: #388e3c;
  }
  